body
{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
h1
{
    font-size: 22px;
    font-weight: bold;
}
.hosting_link, .activities_link
{
    color: black;
    text-decoration: none;
}
.hosting_link:hover, .activities_link:hover
{
    color: #0065FC;
    border-top-style: solid;
    border-top-color: #0065FC;
    border-top-width: 2px;
}
footer, #most_popular
{
    background-color: #F2F2F2;
}
.filter_icons
{
    background-color: #DEEBFF;
    color: #0065FC;
}






@media  screen and (min-width: 768px)
{
    #container
    {
        width: 1440px;

    }
    header
    {
        display: flex;
        
    }
    .logo
    {
        width: 94px;
        margin: 44px 0px 0px 54px;
    }
    nav
    {
        display: flex;
        flex-direction: row;
        width: 310px;
        position: absolute;
        left: 949px;
    }
    .hosting_link, .activities_link
    {
        padding-top: 49px;
        margin-top: 0px;
    }
    a.hosting_link, a.activities_link
    {
        padding-left: 17px;
        padding-right: 17px;
        margin-left: 17px;
        margin-right: 17px;
    }
    .inscription
    {
        color: #0065FC;
        font-weight: bold;
        position: absolute;
        left: 1293px;
        padding-top: 33px;   
    }
    h1.section_1
    {
        margin: 39.26px 0px 0px 54px;
    }
    p.section_1
    {
        margin: 8px 0px 0px 54px;
    }
    form
    {
        margin: 18px 0px 0px 54px;
    }
    
    .fas.fa-map-marker-alt
    {
        font-size: 18px;
        color: black;
        padding: 16px 20px 16px 20px;
        margin: 0px;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 12px 0px 0px 12px;
    }
    input
    {
        width: 234px;
        height: 50px;
        padding: 0px;
        margin: 0px;
        position: absolute;
        left: 109px;
        border: 1px solid #F2F2F2;
        font-size: 18px;
        font-weight: bold;
    }
    ::placeholder
    {
        color: black;
        position: absolute;
        left: 17px;
        top: 17px;        
    }
    button
    {
        position: absolute;
        left: 340px;
        width: 134px;
        height: 52px;
        border: 1px solid #0065FC;
        border-radius: 0px 12px 12px 0px;
        font-size: 18px;
        text-align: center;
        background-color: #0065FC;
    }
    .search_text
    {
        color: white;
    }
    .search_icon
    {
        visibility: hidden;
    }
    div.filters
    {
        display: flex;
        margin-left: 63px;
        font-size: 18px;
    }
    div.filters>h2
    {
        font-size: 18px;
    }
    .eco_filter, .fam_filter, .romantic_filter, .pets_filter
    {
        display: flex;

    }
    #hosting
    {
        background-color: #F2F2F2;
    }
    
    
    


}

@media (max-width: 768px)
{
    #container
    {
        width: 375px;
    }
    .search_icon
    {
        color: white;
    }
    .search_text
    {
        visibility: hidden;
    }
}